body {
 background-image: url("../photos/trains.jpg");
 background-size: 100%;
}
.head {
    margin-top: 10px;
    padding: 25px;
    font-family: 'Teko', sans-serif;
    font-size: 175px;
    background-color: rgba(18, 18, 87, 0.835);
}
.card {
    font-family: 'VT323', monospace;
    background-color: rgba(18, 18, 87, 0.835);
}
.card-header {
    font-size: 45px;
    font-family: 'Teko', sans-serif;
}
.card-body {
    font-size: 25px;
}
form {
    padding: 25px;
}
table {
    padding: 25px;
}
.form-control {
    opacity: .5;
}


@media screen and (max-width: 790px) {
    .card {
        background-size: 100%;
    } 
}
@media screen and (max-width: 540px) {
    .card {
        background-size: 100%;
    } 
}
@media screen and (max-width: 440px) {
    .card {
        background-size: 100%;
        background-color: green;
    } 
}
@media screen and (max-width: 340px) {
    .card {
        background-size: 100%;
    } 
}
@media screen and (max-width: 240px) {
    .card {
        background-size: 100%;
    } 
}